
<html>
        <head>
            <title>
                    BLOG
            </title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
                    
              <!--Import Google Icon Font-->
              <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
              <!--Import materialize.css-->
              <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
              <link rel="stylesheet" href="/stylesheet/index.css">  
           
              
              <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
              <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        </head>
        <body>
                <div>
    
    
                        <nav class="teal" >
                          <div class="container">
                         <div class="nav-wrapper ">
                          <img  src="/images/logo.png" class="left">
                        
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                          <li><a href="/register">Signup</a></li>
                          <li><a href="/login">Login</a></li>
                          <li><a href="/logout">Logout</a></li>
                        
                        </ul>
                      </div>
                       </nav>
                  
                       <ul class="sidenav" id="mobile-demo">
                      <li><a href="/register">Signup</a></li>
                          <li><a href="/login">Login</a></li>
                          <li><a href="/logout">Logout</a></li>
                        
                         </ul>
                            
                  </div>
    

    <div class="container">
      <div class="row">
          <h1 style="text-align: center">Edit <%= blog.title %></h1>
          <div style="width: 30%; margin: 25px auto;">
              <form action="/blog/<%=blog._id%>?_method=put" method="POST">
                  <div class="form-group">
                      <input class="form-control" type="text" name="blog[title]"  value="<%=blog.title%>">
                  </div>
                  <div class="form-group">
                      <input class="form-control" type="text" name="blog[image]" value="<%=blog.image%> %>">
                  </div>
                  <div class="form-group">
                      <input class="form-control" type="text" name="blog[text]" value="<%=blog.text%>">
                  </div>
                  <div class="form-group">
                      <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                  </div>
              </form>
              <a href="/blog">Go Back</a>
          </div>
      </div>
  </div>
</form>
          
</body>
</html>